#menu.navbar.navbar-fixed-bottom.navbar-inverse
	.navbar-inner
		.container

			a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
				span.icon-bar
				span.icon-bar
				span.icon-bar

			a.brand(href='/', class="#{active=='/' ? 'active' : ''}") Stephen Rivas
				span.jr  Jr

			.nav-collapse.collapse
				ul.nav
					li(class="#{active=='/about' ? 'active' : ''}").dropdown
						a(href='/about', data-toggle='dropdown').dropdown-toggle
							i.icon-info-sign.icon-white.pull-right
							| &nbsp; About
						ul.dropdown-menu
							li.nav-header Personal
							li
								a(href='/about')
									i.icon-user
									| About Me
							li
								a(href='#')
									i.icon-thumbs-up
									span.muted Interests
							li
								a(href='/life')
									i.icon-calendar
									| Life Event Timeline
							li.nav-header Educational
							li
								a
									i.icon-road
									span.muted Full Sail University
							li.nav-header Technical
							li
								a(href='#')
									i.icon-hdd
									| This Site
							li
								a
									i.icon-list-alt
									span.muted My 'skillz'
					li(class="#{active=='/blog' ? 'active' : ''}")
						a(href='/blog')
							i.icon-comment.icon-white.pull-right
							| &nbsp; Blog
					li(class="#{active=='/contact' ? 'active' : ''}")
						a(href='/contact')
							i.icon-pencil.icon-white.pull-right
							| &nbsp; Contact
					li(class="#{active=='/resume' ? 'active' : ''}").dropdown
						a(href='/resume', data-toggle='dropdown').dropdown-toggle
							i.icon-list.icon-white.pull-right
							| &nbsp; Resumé
						ul.dropdown-menu
							li.nav-header Download As
							li
								a(href='/resume/download/pdf')
									i.icon-file
									| &nbsp; .PDF
							li
								a(href='/resume/download/zip')
									i.icon-folder-open
									| &nbsp; .ZIP
							li.nav-header View As
							li
								a(href='/resume')
									i.icon-list
									| &nbsp; HTML
							li
								a
									i.icon-align-left
									span.muted &nbsp; Plain Text
							li
								a(href='/files/resume/stephen-rivas-jr-resume.pdf')
									i.icon-print
									| &nbsp; .PDF
					li(class="#{active=='/work' ? 'active' : ''}")
						a(href='/work')
							i.icon-folder-open.icon-white.pull-right
							| &nbsp; Work

				ul.nav.pull-right
					li.dropdown
						a(href='/about', data-toggle='dropdown').dropdown-toggle
							i.icon-cog.icon-white.pull-right
						ul.dropdown-menu
							li.nav-header Status
							li
								a(href='#')
									i.icon-check
									img(src='https://travis-ci.org/sprjr/portfolio.png')
							li
								a(href='#')
									i.icon-circle-arrow-up
									img(src='https://webhooks.nodejitsu.com/sprjr/portfolio.png')
							li.nav-header Maintenance
							li
								a(href='https://github.com/sprjr/portfolio/issues')
									i.icon-exclamation-sign
									| &nbsp; Report Bug / Issue
							li
								a(href='https://github.com/sprjr/portfolio')
									i.icon-random
									| &nbsp; Fork on Github


