.navbar.navbar-fixed-bottom.navbar-inverse
	.navbar-inner
		.container

			a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
				span.icon-bar
				span.icon-bar
				span.icon-bar

			a.brand(href='/', class="#{active=='/' ? 'active' : ''}") Home

			.nav-collapse.collapse: ul.nav
				li(class="#{active=='/about' ? 'active' : ''}")
					a(href='/about') About
				li(class="#{active=='/blog' ? 'active' : ''}")
					a(href='/blog') Blog
				li(class="#{active=='/contact' ? 'active' : ''}")
					a(href='/contact') Contact
				li(class="#{active=='/resume' ? 'active' : ''}")
					a(href='/resume') Résumé
				li(class="#{active=='/work' ? 'active' : ''}")
					a(href='/work') Work